body {
  display: flex;

  min-height: 100vh;
  background: #222;
}

.circel {
  width: 250px;
  height: 250px;
  margin: auto;
  perspective: 500px;
  position: relative;
  perspective: 400px;
  perspective: 500px;
  transform-style: preserve-3d;

  transform: rotateX(60deg);
}

.circel i {
  border-radius: 50%;
  border: 5px solid rgb(244, 243, 243);

  animation-name: cercle;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: absolute;
  box-sizing: border-box;
  animation-delay: calc(var(--i) * 0.1s);
  box-shadow: 0 5px 0 #d7d6d6 inset, 0 -5px 0 #d7d6d6 inset;
}

/* This keyframe defines the 3D movement */
@keyframes cercle {
  0% {
    transform: translateZ(-100px);
    opacity: 1;
  }
  50% {
    /* Moves the ring to the front and fades it slightly */
    transform: translateZ(100px);
    opacity: 0.25;
  }
  100% {
    transform: translateZ(-100px);
    opacity: 1;
  }
}

.circel i:nth-child(1) {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.circel i:nth-child(2) {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.circel i:nth-child(3) {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}
.circel i:nth-child(4) {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
}
.circel i:nth-child(5) {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}
.circel i:nth-child(6) {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}
.circel i:nth-child(7) {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

.circel i:nth-child(8) {
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
}
.circel i:nth-child(9) {
  top: 70px;
  left: 70px;
  right: 70px;
  bottom: 70px;
}
.circel i:nth-child(10) {
  top: 80px;
  left: 80px;
  right: 80px;
  bottom: 80px;
}
.circel i:nth-child(11) {
  top: 90px;
  left: 90px;
  right: 90px;
  bottom: 90px;
}
.circel i:nth-child(12) {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
}
.circel i:nth-child(13) {
  top: 120px;
  left: 120px;
  right: 120px;
  bottom: 120px;
}
.loader span:nth-child(14) {
  top: 130px;
  left: 130px;
  bottom: 130px;
  right: 130px;
}
.loader span:nth-child(15) {
  top: 140px;
  left: 140px;
  bottom: 140px;
  right: 140px;
}
