* {
  padding: 0px;
  margin: 0px;
}

.f {
  perspective: 800px;
  margin: auto;
  margin-top: 120px;
  background: #000;
}

.b1 {
  width: 400px;
  height: 400px;
  background: #fb1313;
  transform-style: preserve-3d;
  transform: rotateX(40deg) rotateZ(-90deg);
  margin: auto;
}
.b2 {
  width: 200px;
  height: 200px;
  background: #0dcf5e80;
  transform: translateZ(10px) rotateX(50deg);
}
.b3 {
  width: 200px;
  height: 200px;
  background: #0e85da80;
  transform: translateZ(10px) rotateX(-50deg);
}
